body {
   background-color: #12b4e5;
}




form {
   border-radius: 6px;
   border: 2px solid black;
   height: 450px;
   margin-left: 200px;
   margin-right: 200px; 
   background-color: #0831446e;
   overflow-y: scroll;


}


h1 {
   text-align: center;
}


#placeholder {


   text-align: center;
   font-size: 20px;
   color: #888;
   margin-left: 150px;
   margin-bottom: 20px;



}

.BDelete {
   background-color: #f44336;
}


#add {
    background-color: #1bcf449c;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 33px;
    cursor: pointer;
    border-radius: 10px;
    font-family: monospace;
    margin-left: 20px;

}

#add:hover {
   background-color: #006994;
}

#AddTask {
   text-align: center;
   font-size: 17px;
   color: #888;
   height: 33px;
   width: 290px;
   border-radius: 8px;
   font-family: sans-serif;
   /* margin-left: 640px; */
}

.Task {
   display: inline;
   font-size: 25px;
   margin-left: 20px;

}


#DisplayTask {
    display: inline;
    height: 100%;
    background-color: #006994;
 
   
  } 
   
.btnSide {
   float: right;
}

.Divshadow {
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   padding: 20px;
   margin: 25px;
   background-color: #fff;
   border-radius: 5px;
   display: block;

}

#Addinput {
   display: flex;
    align-items: center;
    margin-right: 20px;
    display: flex; 
    justify-content: flex-end;
}

.Deleteb {
   color: #f44336;
   font-size: 25px;
   cursor: pointer;
   border: none;
   background-color: transparent; 
}

.Editb {
   color: #1e89e8;
   font-size: 24px !important;
   cursor: pointer;
   margin-right: 25px;
   border: none;
   background-color: transparent; 
}

#Header {
    background-color: #383cffd1;
    font-size: 20px;
    margin-bottom: 48px;
    box-shadow: 0 15px 17px rgba(0, 0, 0, 0.2);
    color: white;
    height: 113px;
    display: flex;
    justify-content: space-between;
   border-radius: 8px;
 
}
#head{
     font-size: 43px;
    margin-left: 64px;
    margin-top: 35px;
}


@media only screen and (max-width: 370px) {
 form {
   border-radius: 6px;
   border: 2px solid black;
   /* height: 600px; */
   background-color: #ffe2fd;
}

#Addinput {
   display: flex;
   justify-content: center;
   width: 300px;
   margin: auto;
   align-items: center;
   margin-top: 35px;
   
}

}

@media only screen and (max-width: 1237px) {
 form {
   border-radius: 6px;
   border: 2px solid black;
   /* height: 600px; */
   margin-left: 0%;
   margin-right: 0%;
   background-color: #ffe2fd;
}

#Addinput {
   display: flex;
   justify-content: center;
   width: 300px;
   margin-top: 25px;
   margin: auto;
   align-items: center;
   margin-top: 35px;
}

}

